---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Container from '../../components/Container.astro';
import ArticleSidebar from '@components/Article/Sidebar/ArticleSidebar.astro';
import {articleTags} from '../../data/articleTags';
import SnsShare from '../../components/Article/SnsShare.astro';
import {getTagDataBySlug, getTagsWithArticles} from '../../utils/articleTags';
import TableOfContents from '../../components/TableOfContents.astro';
import Breadcrumb from '@components/Breadcrumb.astro';
import {ARTICLE_SINGLE_METADATA} from '@data/metadata';
import AdUnitToc from '@components/Article/Ads/AdUnitToc.astro';
import AdUnit from '@components/Article/Ads/AdUnit.astro';

import { getCollection } from 'astro:content';
import ArticleContent from '../../components/Article/ArticleContent.astro';
import TagCloud from '../../components/Home/TagCloud.astro';
import KeywordBox from '@components/Article/KeywordBox.astro';
import { Image } from 'astro:assets';
// 1. コレクションエントリーごとに新しいパスを生成
export async function getStaticPaths() {
  const articleEntries = await getCollection('article');
  return articleEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. テンプレートでは、プロパティからエントリーを直接取得できる
const { entry } = Astro.props;

const currentUrl = Astro.url;

const selectedTags = entry.data.tags.map((tag) => getTagDataBySlug(tag));

const breadcrumbLinks = [
  { href: '/', label: 'ホーム' },
  { href: '/article', label: '夢占い' },
]
---

<BaseLayout title={`${entry.data.title} | ${ARTICLE_SINGLE_METADATA.title}`} ogImageUrl={entry.data.thumbnail} description={entry.data.description}>
  <div class="mv">
    <p class="mv__title">夢占い</p>
  </div>
<div class="body">
  <Breadcrumb data={breadcrumbLinks} />
  <Container>
    <div class="wrap">
      <main class="main">
        <TagCloud tags={selectedTags} type="article-header" />
        <h1 class="title">{entry.data.title}</h1>
        <div class="thumb">
          <Image src={entry.data.thumbnail} width={1600} height={900} alt={entry.data.title} />
        </div>
        <ArticleContent entry={entry} components={{ TableOfContents, AdUnitToc, AdUnit }}  />
        <KeywordBox tags={selectedTags} />
        <SnsShare postUrl={currentUrl} title={entry.data.title} />
      </main>
      <ArticleSidebar />
    </div>
  </Container>
</div>
</BaseLayout>




<style lang="scss">

.mv{
  padding: 20rem 0 12rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixin.sp {
    padding: 16rem 0 9rem;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    letter-spacing: .1em;

    @include mixin.sp {
      font-size: 2.4rem;
    }
  }
}

.body {
	position: relative;
	width: 100%;
	background: #fff;

  &::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url("../../texture-02.jpg");
		background-size: 100% auto;
		background-repeat: repeat-y;
		opacity: 0.2;
    pointer-events: none;
	}
}

.wrap {
  position: relative;
  display: flex;
  // align-items: flex-start;
  gap: 4.8rem;
  padding: 14rem 0 12rem;
  z-index: 1;

  @include mixin.tab {
    gap: 2.4rem;
  }

  @include mixin.tab-s {
    flex-direction: column;
    gap: 8rem;
  }

  @include mixin.sp {
    padding: 8rem 0;
  }
}

.main {
  flex-grow: 1;
  padding-left: 2.4rem;
  padding-right: 2.4rem;

  @include mixin.sp {
    padding: 0;
  }
}

.title {
  position: relative;
  font-size: 3.2rem;
  font-weight: bold;
  padding-bottom: 1.2rem;
  margin-top: 3.2rem;

  @include mixin.tab {
    font-size: 2.8rem;
  }

  @include mixin.sp {
    font-size: 2rem;
  }

  &::before {
    content: '';
    width: 100%;
    height: .3rem;
    background-image: linear-gradient(to right , var.$c-key-1, var.$c-key-2);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.thumb {
  position: relative;
  margin-top: 2.4rem;
  aspect-ratio: 16 / 9;
  display: flex;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right ,var.$c-key-1, var.$c-key-2);
    opacity: .2;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;

  &__link {
    display: block;
    padding: .1rem;

    span {
      display: block;
      font-size: 1.4rem;
      font-weight: 600;
      border: .1rem solid rgba(0,0,0, .2);
      padding: .2rem 1.2rem .3rem;
      border-radius: .3rem;

      &::before {
        content: '#';
        margin-right: .2rem;
      }
    }
  }
}
</style>