---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Container from '../../components/Container.astro';
import Breadcrumb from '@components/Breadcrumb.astro';
import ArticleList from '@components/Article/ArticleList.astro';
import Pagination from '@components/Pagination.astro';
import { ARTICLE_METADATA } from '@data/metadata';
import { POSTS_PER_PAGE } from '@data/article';
import { getSortedPosts } from '@utils/article';

export async function getStaticPaths({ paginate }) {
  const pages = await getCollection('article', ({ data }) => {
		return data.isDraft === false;
	});

	const sortedArticles = getSortedPosts(pages);

  // Generate pages from our array of astronauts, with 2 to a page for testing
  return paginate(sortedArticles, { pageSize: POSTS_PER_PAGE });
}

// ページネーションされたデータは、すべて"page"プロパティとして渡されます
const { page } = Astro.props;

// const sortedArticles = getSortedPosts(page.data);

const articleEntries = await getCollection('article', ({ data }) => {
	return data.isDraft === false;
});

const articleCount = articleEntries.length;

const breadcrumbLinks = [
	{ href: '/', label: 'ホーム' },
	{ label: '夢占い' },
]
---

<BaseLayout title={ARTICLE_METADATA.title} description={ARTICLE_METADATA.description}>
	<div class="mv">
    <Container>
			<h1 class="mv__title">
				<span>夢占い</span>
				<span>記事一覧</span>
			</h1>
		</Container>
  </div>
	<div class="content">
		<Breadcrumb data={breadcrumbLinks} />
		<Container>
			<div class="wrap">
				<main class="main">
					<p class="current-page">{page.currentPage}/{page.lastPage}ページ目</p>
					<div class="article-list">
						<ArticleList articles={page.data} />
					</div>
					{
						articleCount > POSTS_PER_PAGE && (
						<div class="pagination">
						<Pagination 
						length={page.lastPage} 
						currentUrl={page.url.current} 
						currentPage={page.currentPage} 
						firstUrl={`/article`} 
						prevUrl={page.url.prev} 
						nextUrl={page.url.next} 
						lastUrl={`/article/${page.lastPage}`}
						/>
					</div>
						)
					}
				</main>
			</div>
		</Container>
	</div>
</BaseLayout>

<style lang="scss">
.mv{
  padding: 20rem 0 12rem;
  display: flex;
  align-items: center;
  justify-content: center;

	@include mixin.sp {
    padding: 16rem 0 9rem;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    letter-spacing: .1em;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		span {
			&:nth-child(1) {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				gap: 1.6rem;

				@include mixin.sp {
          font-size: 2.4rem;
        }

			}

			&:nth-child(2) {
				font-size: 2.4rem;
				margin-top: 1.6rem;

				@include mixin.sp {
          font-size: 2rem;
          margin-top: .8rem;
        }
			}
		}
  }
}

	.wrap {
		position: relative;
		z-index: 1;
  display: flex;
  gap: 4.8rem;
  padding: 12rem 0 12rem;

	@include mixin.sp {
		padding: 8rem 0;
	}
}

.content {
	position: relative;
	width: 100%;
	background: #fff;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url("../../texture-02.jpg");
		background-size: 100% auto;
		background-repeat: repeat-y;
		opacity: 0.2;
		pointer-events: none;
	}
}

.main {
	position: relative;
  flex-grow: 1;
  padding-left: 2.4rem;
  padding-right: 2.4rem;

	@include mixin.sp {
		padding-left: 0;
		padding-right: 0;
	}
}

.current-page {
	margin-bottom: 2.4rem;
	font-size: 1.4rem;

	@include mixin.sp {
		font-size: 1.2rem;
	}
}

.title {
	font-size: 3.2rem;
	font-weight: bold;
	letter-spacing: .1em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.6rem;

	@include mixin.sp {
		font-size: 2.4rem;
	}

	span {
		background-image: linear-gradient(to right ,var.$c-key-1, var.$c-key-2);
	color: transparent;
	background-clip: text;
	}
}

.pagination {
	margin-top: 8rem;

	@include mixin.sp {
		margin-top: 4rem;
	}
}
</style>