---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
import {getTagsWithArticles} from '../utils/articleTags';
import TagCloud from '../components/Home/TagCloud.astro';
import Mv from '../components/Home/Mv.astro';
import ArticleList from '@components/Article/ArticleList.astro';
import Btn from '@components/Btn.astro';
import { TOP_METADATA } from '@data/metadata';
import { getSortedPosts } from '@utils/article';
import { POSTS_PER_PAGE } from '@data/article';

const articleEntries = await getCollection('article',({data}) => {
	return data.isDraft === false;
})
const sortedArticles = getSortedPosts(articleEntries);
const trimmedArticles = sortedArticles.slice(0, POSTS_PER_PAGE);

// 記事が1記事以上あるタグを取得
const tagsWithArticles = getTagsWithArticles(articleEntries);
---

<BaseLayout title={TOP_METADATA.title} description={TOP_METADATA.description} >
	<Mv />
	<div class="content">
		<Container>
			<div class="wrap">
				<main class="main">
					<section class="section">
						<h2 class="title"><span>キーワードから探す</span></h2>
						<TagCloud tags={tagsWithArticles} />
					</section>
	
					<section class="section">
						<h2 class="title"><span>新着記事</span></h2>
						<div class="article-list">
							<ArticleList articles={trimmedArticles} />
						</div>
						<div class="btn-wrap">
							<Btn href="/article">夢占いの記事一覧</Btn>
						</div>
					</section>
				</main>
			</div>
		</Container>
	</div>
</BaseLayout>

<style lang="scss">
	.wrap {
  display: flex;
  gap: 4.8rem;
  padding: 8rem 0 20rem;

	@include mixin.sp {
		padding: 0rem 0 8rem;
	}
}

.content {
	position: relative;
	width: 100%;
	background: #fff;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url("../../texture-02.jpg");
		background-size: 100% auto;
		background-repeat: repeat-y;
		opacity: 0.2;
	}
}

.section {
	position: relative;
	padding-top: 12rem;
	z-index: 1;

	@include mixin.sp {
		padding-top: 8rem;
	}
}

.main {
  flex-grow: 1;
  padding-left: 2.4rem;
  padding-right: 2.4rem;

	@include mixin.sp {
		padding-left: 0;
		padding-right: 0;
	}
}

.title {
	position: relative;
	font-size: 3.2rem;
	font-weight: bold;
	letter-spacing: .1em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.6rem;
	padding-bottom: 2rem;

	@include mixin.sp {
		font-size: 2.2rem;
		padding-bottom: 1.6rem;
	}

	&::after {
		content: '';
		width: 4rem;
		height: .2rem;
	background-image: linear-gradient(to right ,var.$c-key-1, var.$c-key-2);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;

	@include mixin.sp {
		width: 2.4rem;
	}
}
}

.article-list {
	margin-top: 4.8rem;

	@include mixin.sp {
		margin-top: 2.4rem;
	}
}

.btn-wrap {
	margin-top: 4rem;

	@include mixin.sp {
		margin-top: 3.2rem;
	}
}
</style>