---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
import {getTagsWithArticles} from '../utils/articleTags';
import TagCloud from '../components/Home/TagCloud.astro';
import Mv from '../components/Home/Mv.astro';
import ArticleList from '@components/Article/ArticleList.astro';
import Btn from '@components/Btn.astro';
import { TOP_METADATA } from '@data/metadata';
import { getSortedPosts } from '@utils/article';
import { POSTS_PER_PAGE_TOP, POSTS_PER_PAGE_TOP_RANKING } from '@data/article';
import {articleTagRankingIds} from '@data/articleTagRanking';
import { rankingPostIds } from '@data/articleRanking';
import ColumnList from '@components/Column/ColumnList.astro';
import { getSortedColumns } from '@utils/column';
import { MdOutlineScreenSearchDesktop } from "react-icons/md";
import Search from '@components/Search.astro';

const articleEntries = await getCollection('article',({data}) => {
	return data.isDraft === false;
})

const sortedRankedArticles = rankingPostIds.map(id => 
articleEntries.find(article => article.id === id)
).filter(article => article !== undefined);

const sortedArticles = getSortedPosts(articleEntries);
const trimmedArticles = sortedArticles.slice(0, POSTS_PER_PAGE_TOP);

// 記事が1記事以上あるタグを取得
const tagsWithArticles = getTagsWithArticles(articleEntries);

const popularTags = tagsWithArticles.filter(tag => articleTagRankingIds.includes(tag.slug))
.sort((a, b) => articleTagRankingIds.indexOf(a.slug) - articleTagRankingIds.indexOf(b.slug));

const columnEntries = await getCollection('column',({data}) => {
	return data.isDraft === false;
})

const sortedColumns = getSortedColumns(columnEntries);
---

<BaseLayout title={TOP_METADATA.title} description={TOP_METADATA.description} >
	<Mv />
	<div class="content">
		<div class="wrap">
			<main class="main">
				<Container>
					<section class="section">
						<h2 class="title"><span>フリーワード検索</span></h2>
						<Search />
					</section>
					
					<section class="section">
						<h2 class="title"><span>夢占いの新着記事</span></h2>
						<div class="article-list">
							<ArticleList articles={trimmedArticles} />
						</div>
						<div class="btn-wrap">
							<Btn href="/article">夢占いの記事一覧</Btn>
						</div>
					</section>
					<section class="section">
						<h2 class="title"><span>夢占いの人気記事ランキング</span></h2>
						<div class="article-list -is-ranking">
							<ArticleList articles={sortedRankedArticles} isSorted={false} isOrderedList={true} />
						</div>
						<div class="btn-wrap">
							<Btn href="/article">夢占いの記事一覧</Btn>
						</div>
					</section>

					<section class="section">
						<h2 class="title"><span>キーワードから探す</span></h2>

						<h3 class="sub-title"><MdOutlineScreenSearchDesktop />五十音順で探す</h3>
						<div class="word">
							<ul class="word__list">
								<li class="word__col">
									<ul class="word__row">
										<li class="word__item">
											<a class="word__link" href="/article/keyword/#あ"><span>あ</span></a>
											<a class="word__link" href="/article/keyword/#い"><span>い</span></a>
											<a class="word__link" href="/article/keyword/#う"><span>う</span></a>
											<a class="word__link" href="/article/keyword/#え"><span>え</span></a>
											<a class="word__link" href="/article/keyword/#お"><span>お</span></a>
										</li>
										<li class="word__item">
											<a class="word__link" href="/article/keyword/#か"><span>か</span></a>
											<a class="word__link" href="/article/keyword/#き"><span>き</span></a>
											<a class="word__link" href="/article/keyword/#く"><span>く</span></a>
											<a class="word__link" href="/article/keyword/#け"><span>け</span></a>
											<a class="word__link" href="/article/keyword/#こ"><span>こ</span></a>
										</li>
										<li class="word__item">
											<a class="word__link" href="/article/keyword/#さ"><span>さ</span></a>
											<a class="word__link" href="/article/keyword/#し"><span>し</span></a>
											<a class="word__link" href="/article/keyword/#す"><span>す</span></a>
											<a class="word__link" href="/article/keyword/#せ"><span>せ</span></a>
											<a class="word__link" href="/article/keyword/#そ"><span>そ</span></a>
										</li>
										<li class="word__item">
											<a class="word__link" href="/article/keyword/#た"><span>た</span></a>
											<a class="word__link" href="/article/keyword/#ち"><span>ち</span></a>
											<a class="word__link" href="/article/keyword/#つ"><span>つ</span></a>
											<a class="word__link" href="/article/keyword/#て"><span>て</span></a>
											<a class="word__link" href="/article/keyword/#と"><span>と</span></a>
										</li>
										<li class="word__item">
											<a class="word__link" href="/article/keyword/#な"><span>な</span></a>
											<a class="word__link" href="/article/keyword/#に"><span>に</span></a>
											<a class="word__link" href="/article/keyword/#ぬ"><span>ぬ</span></a>
											<a class="word__link" href="/article/keyword/#ね"><span>ね</span></a>
											<a class="word__link" href="/article/keyword/#の"><span>の</span></a>
										</li>
									</ul>
								</li>
								<li class="word__col">
									<ul class="word__row">
										<li class="word__item">
											<a class="word__link" href="/article/keyword/#は"><span>は</span></a>
											<a class="word__link" href="/article/keyword/#ひ"><span>ひ</span></a>
											<a class="word__link" href="/article/keyword/#ふ"><span>ふ</span></a>
											<a class="word__link" href="/article/keyword/#へ"><span>へ</span></a>
											<a class="word__link" href="/article/keyword/#ほ"><span>ほ</span></a>
										</li>
										<li class="word__item">
											<a class="word__link" href="/article/keyword/#ま"><span>ま</span></a>
											<a class="word__link" href="/article/keyword/#み"><span>み</span></a>
											<a class="word__link" href="/article/keyword/#む"><span>む</span></a>
											<a class="word__link" href="/article/keyword/#め"><span>め</span></a>
											<a class="word__link" href="/article/keyword/#も"><span>も</span></a>
										</li>
										<li class="word__item">
											<a class="word__link" href="/article/keyword/#や"><span>や</span></a>
											<span class="blank"></span>
											<a class="word__link" href="/article/keyword/#ゆ"><span>ゆ</span></a>
											<span class="blank"></span>
											<a class="word__link" href="/article/keyword/#よ"><span>よ</span></a>
										</li>
										<li class="word__item">
											<a class="word__link" href="/article/keyword/#ら"><span>ら</span></a>
											<a class="word__link" href="/article/keyword/#り"><span>り</span></a>
											<a class="word__link" href="/article/keyword/#る"><span>る</span></a>
											<a class="word__link" href="/article/keyword/#れ"><span>れ</span></a>
											<a class="word__link" href="/article/keyword/#ろ"><span>ろ</span></a>
										</li>
										<li class="word__item">
											<a class="word__link" href="/article/keyword/#わ"><span>わ</span></a>
											<span class="blank"></span>
											<span class="word__link -inactive"><span>を</span></span>
											<span class="blank"></span>
											<span class="word__link -inactive"><span>ん</span></span>
										</li>
									</ul>
								</li>
							</ul>

							<div class="btn-wrap">
								<Btn href="/article/keyword">夢占いのキーワード一覧</Btn>
							</div>
						</div>
					</section>

					<section class="section">
						<h2 class="title"><span>コラム</span></h2>

						<div class="column-list">
							<ColumnList columns={sortedColumns} isSorted={false} />
						</div>
						
						<div class="btn-wrap">
							<Btn href="/column">コラムの記事一覧</Btn>
						</div>
					</section>
				</Container>
				</main>
			</div>
		</div>
</BaseLayout>

<style lang="scss">
	.wrap {
  display: flex;
  gap: 4.8rem;
  padding: 8rem 0 20rem;
	width: 100%;

	@include mixin.sp {
		padding: 0rem 0 8rem;
	}
}

.content {
	position: relative;
	width: 100%;
	background: #fff;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: var(--bgImg);
		background-size: 100% auto;
		background-repeat: repeat-y;
		opacity: 0.2;

		@include mixin.sp {
			background-image: var(--bgImgSp);
		}
	}
}

.section {
	position: relative;
	padding-top: 12rem;
	z-index: 1;
	width: 100%;

	@include mixin.sp {
		padding-top: 8rem;
	}
}

.main {
  flex-grow: 1;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
	width: 100%;

	@include mixin.sp {
		padding-left: 0;
		padding-right: 0;
	}
}

.title {
	position: relative;
	font-size: 3.2rem;
	font-weight: bold;
	letter-spacing: .1em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.6rem;
	padding-bottom: 2rem;

	@include mixin.sp {
		font-size: 2.2rem;
		padding-bottom: 1.6rem;
	}

	&::after {
		content: '';
		width: 4rem;
		height: .2rem;
		background-image: linear-gradient(to right ,var.$c-key-1, var.$c-key-2);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;

		@include mixin.sp {
			width: 2.4rem;
		}
	}
}

.sub-title {
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	gap: .8rem;
	align-items: center;

	@include mixin.sp {
		font-size: 1.8rem;
	}

	svg {
		transform: translateY(.2rem);
	}
}

.article-list {
	margin-top: 4.8rem;

	@include mixin.sp {
		margin-top: 2.4rem;
	}
}

.btn-wrap {
	margin-top: 4rem;

	@include mixin.sp {
		margin-top: 3.2rem;
	}
}


.word {
	margin-top: 2.4rem;

	@include mixin.sp {
		margin-top: 1.6rem;
	}

	&__list {
		display: flex;
		justify-content: center;
		gap: .2rem;
	}

	&__row {
		display: flex;
		flex-direction: column;
		gap: .2rem;
	}

	&__col {
		width: 50%;
	}

	&__item {
		display: flex;
		width: 100%;
		gap: .2rem;

		span.blank {
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 1 / 1;
			line-height: 1;
			overflow: hidden;
			transition: all .3s;
			width: 20%;

			&::before {
				display: none;
			}
		}
	}

	&__link {
		position: relative;
		font-size: 3.2rem;
		font-weight: bold;
		padding: 1.2rem;
		border-radius: 0;
		background-image: linear-gradient(to right bottom, var.$c-key-1, var.$c-key-2);
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 1 / 1;
		line-height: 1;
		overflow: hidden;
		transition: all .3s;
		width: 20%;

		@include mixin.tab {
			font-size: 2.8rem;
		}

		@include mixin.sp {
			font-size: 1.6rem;
		}

		span {
			position: relative;
			z-index: 1;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #f3f3f3;
			transition: all .3s;
		}

		@include mixin.hover {
			&:not(.-inactive):hover {
				color: white;
				border-color: white;

				&::before {
					background-color: transparent;
				}
			}
		}

		&.-inactive {
			background-image: none;

			span {
				opacity: .7;
			}

			&::before {
				background-color: transparent;
			}
		}
	}
}
</style>

<style lang="scss" is:global>

	.article-list.-is-ranking {
		ol {
			li.article-card {
				position: relative;
				counter-increment: ranking;

      &::before {
        content: counter(ranking);
        width: 3.2rem;
        height: 3.2rem;
        background-color: #5e5e5e;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
				justify-content: center;
        z-index: 1;
        font-weight: bold;
        font-size: 1.6rem;
        color:white;


        @include mixin.sp {
          font-size: 1.4rem;
          width: 2.4rem;
          height: 2.4rem;
        }
      }

      &:nth-child(1) {
        &::before {
          background-color: rgb(255, 191, 0);
        }
      }

      &:nth-child(2) {
        &::before {
          background-color: silver;
        }
      }

      &:nth-child(3) {
        &::before {
          background-color: #cd7f32;
        }
      }
			}
		}
	}


	.column {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 4rem;
		margin-top: 6rem;

		@include mixin.sp {
			margin-top: 2.4rem;
		}
	}

	.column-item {
		img {
			width: 100%;
		}
	}

	.column-title {
		font-family: var.$font-serif;
		font-weight: bold;
		font-size: 1.8rem;
		margin-top: .4rem;
	}
</style>