---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Seo from "@components/Seo.astro";

import '@fontsource/zen-old-mincho/400.css';
import '@fontsource/zen-old-mincho/500.css';
import '@fontsource/zen-old-mincho/600.css';
import '@fontsource/zen-old-mincho/700.css';
import '@fontsource/zen-old-mincho/900.css';

import '@fontsource/zen-kaku-gothic-antique/400.css';
import '@fontsource/zen-kaku-gothic-antique/500.css';
import '@fontsource/zen-kaku-gothic-antique/700.css';

import '@fontsource/ibm-plex-sans-jp/400.css';
import '@fontsource/ibm-plex-sans-jp/500.css';
import '@fontsource/ibm-plex-sans-jp/700.css';

// Supports weights 100-900
import '@fontsource-variable/noto-sans-jp';

import 'the-new-css-reset';
import '../styles/global.scss';
import StickyBg from "@components/StickyBg.astro";

const {title, description, ogImageUrl, ogType} = Astro.props;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Seo title={title} description={description} ogImageUrl={ogImageUrl} ogType={ogType} />
	</head>
	<body>
		<StickyBg />
    <Header />
    <slot />
		<Footer />
	</body>
</html>