---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Seo from "@components/Seo.astro";
import GoogleAnalytics from "@components/meta/GoogleAnalytics.astro";
import Clarity from "@components/meta/Clarity.astro";
import { getImage } from "astro:assets";

import '@fontsource/zen-old-mincho/400.css';
import '@fontsource/zen-old-mincho/500.css';
import '@fontsource/zen-old-mincho/600.css';
import '@fontsource/zen-old-mincho/700.css';
import '@fontsource/zen-old-mincho/900.css';

// Supports weights 100-900
import '@fontsource-variable/noto-sans-jp';

import 'the-new-css-reset';
import "@pagefind/default-ui/css/ui.css";
import '../styles/global.scss';
import StickyBg from "@components/StickyBg.astro";

// img optimization
import backgroundImg from '@images/bg-texture.jpg';
import backgroundImgSp from '@images/bg-texture-sp.jpg';
import headerBackground from '@images/bg-texture-header.jpg';
import HamburgerMenu from "@components/HamburgerMenu.astro";

const bgImg = await getImage({src: backgroundImg});
const bgImgSp = await getImage({src: backgroundImgSp});
const headerBg = await getImage({src: headerBackground});
// end img optimization

const {title, description, ogImageUrl, ogType} = Astro.props;

const isDevMode = import.meta.env.ENVIRONMENT === 'development';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Seo title={title} description={description} ogImageUrl={ogImageUrl} ogType={ogType} />
		{
			!isDevMode && <GoogleAnalytics />
		}
		{
			!isDevMode && <Clarity />
		}
		{
			!isDevMode && <script is:inline async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1076760418024606"
			crossorigin="anonymous"></script>
		}
		<style define:vars={{bgImg: `url(${bgImg.src})`, bgImgSp: `url(${bgImgSp.src})`, headerBg: `url(${headerBg.src})`}}></style>
	</head>
	<body>
		<StickyBg />
    <Header />
		<HamburgerMenu />
    <slot />
		<Footer />
	</body>
</html>